html {
  font-size: 10px;
  /*background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;*/
  background-color: #F0F5BF;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black; 
}

.playing {
  transform: scaleY(1.5);
}

kbd {
  display: block;
  font-size: 0rem;
}

.sound {
  font-size: 0rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

:root {
  --frog-w: 520px;
}
@media (max-width: 350px) {
  :root {
  --frog-w: 260px;
  --frog-h: 195px;
  }
}

.frog {
  width: 20vh;
  height: 20vh;
  position: relative; 
  margin: 1rem;
  padding: 1rem .5rem;
  align-items: center;
  justify-content: center; 
  transition: all .07s ease; 
}
.face {
  width: 100%;
  height: 75%;
  background: #00B106;
  position: absolute;
  border-radius: 50%;
  top: 0%;
  left: 0%;
  display: flex;
}
.left-eye{
  width: 30%;
  height: 40%;
  background: #00B106;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  left: 10%;
}
.right-eye{
  width: 30%;
  height: 40%;
  background: #00B106;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  left: 55%;
}
.pupil{
  width: 40%;
  height: 40%;
  background: black;
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 25%;
}
.mouth{
  width: 80%;
  height: 60%;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 10%;
}
.lip{
  width: 100%;
  height: 35%;
  background: #00B106;
  position: absolute;
  border-radius: 10px;
  top: -20%;
  left: 0%;
}
.left-nose{
  width: 4%;
  height: 20%;
  background: black;
  position: absolute;
  border-radius: 50%;
  top: 0%;
  left: 40%;
}
.right-nose{
  width: 4%;
  height: 20%;
  background: black;
  position: absolute;
  border-radius: 50%;
  top: 0%;
  left: 50%;
}
.note{
  font-size: 400%;
  font-family: Arial;
  position: absolute;
  top: 5%;
  left: 35%;
}

#G-low .face, #G-low .lip, #G-low .right-eye, #G-low .left-eye{
  background: #BD44CF;
}

#A-low .face, #A-low .lip, #A-low .right-eye, #A-low .left-eye{
  background: #1586E2;
}

#B-low .face, #B-low .lip, #B-low .right-eye, #B-low .left-eye{
  background: #02B2E1;
}

#C-low .face, #C-low .lip, #C-low .right-eye, #C-low .left-eye{
  background: #31C797;
}

#E-low .face, #E-low .lip, #E-low .right-eye, #E-low .left-eye{
  background:#84C700;
}

#F .face, #F .lip, #F .right-eye, #F .left-eye{
  background: #F2D00C;
}

#G-high .face, #G-high .lip, #G-high .right-eye, #G-high .left-eye{
  background: #EFA300;
}

#A-high .face, #A-high .lip, #A-high .right-eye, #A-high .left-eye{
  background:#FF7101;
}

#B-high .face, #B-high .lip, #B-high .right-eye, #B-high .left-eye{
  background: #EB6118;
}

#C-high .face, #C-high .lip, #C-high .right-eye, #C-high .left-eye{
  background:#CA391A;
}

#D-high .face, #D-high .lip, #D-high .right-eye, #D-high .left-eye{
  background:#D13187;
}

#E-high .face, #E-high .lip, #E-high .right-eye, #E-high .left-eye{
  background: #D93BAC;
}
